@import 'tailwindcss';
/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@theme {
  /* Colors */
  --color-obsidian: #050505;
  --color-coral: #FF7F50;
  --color-violet: #6D28D9;
  
  /* Fonts */
  --font-display: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
}

:root {
  font-family: var(--font-body);
  background-color: var(--color-obsidian);
  color: white;
}

@layer utilities {
  .glass {
    backdrop-filter: blur(20px) saturate(180%);
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .glass-panel {
    backdrop-filter: blur(20px) saturate(180%);
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    @apply rounded-3xl;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.02);
  }
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

body {
    margin: 0;
    overflow-x: hidden;
}
